@using TurSys.Web.UI.Options.Interfaces
@inject IApplicationOptions ApplicationOptions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=@ApplicationOptions.StaticVersion" />
    <link rel="stylesheet" href="~/TurSys.Web.UI.styles.css?v=@ApplicationOptions.StaticVersion" />
</head>
<body>
    <div class="loading-container" id="loadingContainer">
        <div class="loading"></div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/js/site.js?v=@ApplicationOptions.StaticVersion"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>