html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

input::placeholder {
    color: #f0f0f0;
}

input:focus {
    outline: none;
    border: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 20px 0 50px;
    background-color: #F8F8F8;
}


.table {
    display: table;
    margin: 0;
    padding: 0;
}

    .table .row {
        display: table-row;
        margin: 0;
        padding: 0;
    }

        .table .row .cell {
            display: table-cell;
            margin: 0;
            padding: 0;
        }

.container {
    width: 320pt;
    border: 1px solid #d9d9d9;
    padding: 0;
}

/*<Home*/
div.home-header {
    width: 320pt;
    height: 40pt;
    background-color: #2F4EB4;
}

section.search {
    width: 320pt;
    height: 375pt;
    position: relative;
}

    section.search .area {
        width: 288pt;
        height: 64pt;
        background: #FFF;
        margin: auto;
        display: flex;
    }

    section.search .departure {
        margin-top: 16pt;
    }

    section.search .arrival {
        margin-top: 3pt;
    }

    section.search .change {
        width: 28pt;
        height: 28pt;
        border: 1pt solid #707070;
        background-color: #FFFFFF;
        border-radius: 50%;
        margin-top: -16px;
        margin-bottom: -16px;
        position: relative;
        left: calc(100% - 24pt * 2);
        cursor: pointer;
    }

        section.search .change svg {
            margin: 25%;
        }

    section.search .date {
        margin-top: 20pt;
    }

        section.search .date .day-btn {
            margin-right: -20px;
        }

            section.search .date .day-btn button {
                width: 56pt;
                height: 24pt;
                border: 0.9pt solid #5D686E;
                font-family: Roboto, Regular;
                font-size: 12pt;
                background-color: #FFF;
                border-radius: 2pt;
                margin-top: 8px;
            }

                section.search .date .day-btn button.today {
                    background-color: #5D686E;
                    color: #FFF;
                }

                section.search .date .day-btn button.tomorrow {
                    color: #5D686E;
                    background-color: #FFF;
                }

    section.search .area .icon {
        width: 10.3pt;
        height: 15.43px;
        margin: 33pt 0 0 8pt;
        border-radius: 50%;
    }

    section.search .area .area-content {
        margin-left: 15pt;
        width: calc(100% - 16pt);
    }

        section.search .area .area-content .title {
            width: 100%;
            margin-top: 11pt;
            font-family: Roboto, Regular;
            font-size: 14pt;
            color: #2F4EB4;
        }

        section.search .area .area-content .text {
            width: 100%;
            font-family: Roboto, Medium;
            font-size: 15pt;
            color: #5D686E;
            border: 0;
        }

button.search-btn {
    width: 208pt;
    height: 41pt;
    margin-top: 21pt;
    margin-left: 56pt;
    border-radius: 4pt;
    background-color: #2F4EB4;
    color: #FFFFFF;
    font-family: Roboto, Medium;
    font-size: 17pt;
    border: 0;
}

.home-content {
    background-color: #FFF;
    padding: 20px;
    text-align: justify;
}

.search-result {
    position: absolute;
    left: 16pt;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 99;
    width: 240pt !important;
    height: auto !important;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
}

    .search-result ul {
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #FFF;
    }

        .search-result ul li {
            margin: 0;
            list-style-type: none;
            padding: 4pt 5pt;
        }

            .search-result ul li:nth-child(2n+1) {
                background-color: #c0c0c0;
                width: 100%;
            }

            .search-result ul li:hover {
                background-color: #2F4EB4;
                color: #FFF;
                cursor:pointer;
            }
/*Home>*/
/*<Ticket*/
a.go-to-back {
    position: relative;
    bottom: -30px;
    color: #FFF;
    margin-left: 15px;
    text-decoration: none;
}

div.ticket-header {
    width: 320pt;
    height: 72pt;
    background-color: #2F4EB4;
    color: #FFF;
    padding-top: 16pt;
    text-align: center;
    margin-top: -26px;
}

    div.ticket-header .departure {
        font-family: Open Sans, Semibold;
        font-size: 14pt;
        margin: 0;
        padding: 0;
    }

    div.ticket-header .date {
        font-family: Open Sans, Regular;
        font-size: 12pt;
        margin: 0;
        padding: 0;
    }

.ticket {
}

.ticket-item {
    width: 304pt;
    margin: 8pt;
    border: 0.5pt solid #B4B4B4;
    border-radius: 3pt;
    padding: 7pt;
    display: flex;
    align-items: center
}

    .ticket-item .detail {
        width: calc(100% - 80pt);
    }

    .ticket-item .price {
        width: 80pt;
        text-align: right;
    }

        .ticket-item .price span {
            background-color: #D23B38;
            color: #FFF;
            border-radius: 5pt;
            padding: 5pt;
        }

    .ticket-item .detail .table {
        width: min-content;
    }

        .ticket-item .detail .table .title {
            font-family: Open Sans, Regular;
            font-size: 9pt;
            color: #3640B1;
        }

        .ticket-item .detail .table .arrow {
            padding: 0 15px;
        }

        .ticket-item .detail .table .content {
            font-family: Open Sans, Semibold;
            font-size: 15pt;
            color: #192289;
        }

    .ticket-item .detail .description {
        font-family: Open Sans, Regular;
        color: #083145;
        font-size: 12pt;
    }
/*Ticket>*/

/*<Loading*/

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none; /* Sayfa yüklendiğinde gizli olacak */
}

.loading {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*Loading>*/
